.wrapper {
    margin: 0px auto;
    padding: 0px 1em 0px 1em;
}

.hero {
    max-width: 100%;
    min-height: 200px;
    width: var(--kadai-content-width);
    background-color: var(--kadai-color-background);
    margin: 0px auto;
    padding: 30px 80px 30px 80px;
    font-family: 'Karla', sans-serif;
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.hero .heroContent {
    width: 40%;
}

.hero .heroContent p {
    text-align: justify;
    margin-top: 3em;
    margin-bottom: 2em;
}

.hero .heroAsset {
    width: 60%;
    padding-left: 100px;
    display: flex;
    align-items: center;
}

.hero h1 {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 3em;
}

.hero h2 {
    font-family: 'Karla', sans-serif;
    font-weight: 350;
    font-size: 3em;
    text-decoration: underline;
    text-decoration-color: var(--kadai-color-primary);
}

@media screen and (max-width: 1024px) {
    .hero {
        flex-direction: column;
        width: 100%;
    }

    .hero .heroContent {
        width: 100%;
    }

    .hero .heroAsset {
        width: 100%;
        padding-left: 0px;
    }
}